@page "/CreateWare"
@using HttpClients.ClientInterfaces
@using global::Shared.DTOs
@using BlazerWASM.StateContainer


@inject IItemService Service;
@inject NavigationManager NavigationManager;
@inject AddNewItemBeginState NewItemBeginState;

<h3>CreateWare</h3>
 <br/>

<div class="card col-6 border border-0">
<div>
    <div>
        <label>Kundenummer</label>
        <input type="text" class ="form-control col-6"@bind="kundeNummer"/>
        @if (!string.IsNullOrEmpty(resultMsg))
        {
            <label style="color: @color">@resultMsg</label>
        }
    </div>
    <div class="my-2">
        <label>Varenummer</label>
        <input type="text" class ="form-control col-6" @bind="vareNummer"/>
        @if (!string.IsNullOrEmpty(resultMsg))
        {
            <label style="color: @color">@resultMsg</label>
        }
    </div>
    <div>
        <label>Vare antal</label>
        <input type="text" class ="form-control col-6" @bind="vareAntal"/>
        @if (!string.IsNullOrEmpty(resultMsg))
        {
            <label style="color: @color">@resultMsg</label>
        }
    </div>
    
    <button @onclick="createWare" class="acceptbtn my-2">Create</button>
</div>
</div>



@code {


    private int? kundeNummer;
    private int? vareNummer;
    private int? vareAntal;
    private string resultMsg;
    private string color;

    private async Task createWare()
    {
        try
        {
            NewItemBeginState.Amount = (int)vareAntal;
            NewItemBeginState.Id = (int)vareNummer;
            NewItemBeginState.User = (int)kundeNummer;
            await Service.CreateAsync(new ItemCreationDto((int)vareNummer, (int)vareAntal, (int)kundeNummer,true,0));
            
            kundeNummer = null;
            vareNummer = null;
            vareAntal = null;
            resultMsg = "";
            color = "green";
            NavigationManager.NavigateTo("/ShelfPage");
        }
        
        catch (Exception e)
        {
            if (e.Message.Equals("ItemType not found"))
            {
                NavigationManager.NavigateTo("/CreateItemType");
            }
            
            Console.WriteLine(e);
            resultMsg = e.Message;
            color = "red";
            
            
        }
        
        
    }


}