@page "/shelfpage"
@using global::Shared.Model
@using global::Shared.DTOs
@using BlazerWASM.StateContainer
@using HttpClients.ClientInterfaces
@using HttpClients.Implementations
@inject HttpClient Http

@inject AddNewItemBeginState NewItemBeginState;
@inject IItemService ItemService;
@inject IItemTypeService ItemTypeService;

<h3 class="text-center mb-5">ShelfPage</h3>


<div class="container-fluid mt-3 ">
    <div class="row">
    <div class="col-sm-6">

        <table class="table ">
            <tr>
                <td class="border-1 text-center fw-bold">
                    <label >Vare nummer: @NewItemBeginState.Id</label>
                </td>

            </tr>
            <tr>
                <td><label>antal du skal placere: @NewItemBeginState.Amount</label> </td>
            </tr>
            <tr>
                <td>
                <!--        <label>Vare info : dimX = @_itemType.DimX dimY =@_itemType.DimY dimZ = @_itemType.DimZ</label>
                -->
                </td>
            </tr>
        </table>
    </div>

    <div class="col-sm-6">
        <table class="table">
            
            <tr class="border-1">
                <th>Shelf ID</th>
                <th>Avalible Capacity</th>
                <th>Input Wished</th>

            </tr>
            
            <tbody>
            @foreach (var item in glqt)
            {

                <tr>
                    <td>@item.ShelfID</td>
                    <td>@item.AvalibleSpace</td>
                    <td><INPUT name="InputWished" type="textfield" placeholder="skriv ønsket mængde"class="border-0"/></td>
                    <td><label></label></td>
                </tr>
            }
            </tbody>
        </table>
        <button type="button" name="klik" onclick="@ButtonReserver()">klik</button>
    </div>
</div>
</div>
@code {
    private int? ShelfId;
    private int? AvalibleCapacity;
    private int? InputWished;
     
    private itemType _itemType;


    



    private List<AmountOnSpaceDto> glqt = new List<AmountOnSpaceDto>
    {
        new AmountOnSpaceDto("1",2)
        ,
        new AmountOnSpaceDto
        (
             "2",
            4
        ),
    new AmountOnSpaceDto
    (
        "1",
         2
        )
    };

    public ShelfPage()
    {
       // itemType _itemType = ItemTypeService.ReadAsync(new ItemTypeSearchDto(NewItemBeginState.Id)).Result;
        
    }

    private async Task ButtonReserver()
    {
        Thread.Sleep(10);
    }

}